---
import classNames from "classnames";

export interface Props {
	path: string;
	thumbnailUrl?: string;
	title: string;
}

const linkClasses = classNames(
	"flex",
	"flex-col",
	"p-4",
	"rounded-lg",
	"border-2",
	"border-stone-300/50",
	"dark:border-stone-700/50",
	"hover:boder-stone-300/75",
	"dark:hover:border-stone-700/75",
	"bg-stone-100/50",
	"dark:bg-stone-900/50",
	"hover:bg-stone-100/75",
	"dark:hover:bg-stone-900/75"
);
---

<a class={linkClasses} href={Astro.props.path}>
	{Astro.props.thumbnailUrl && <img src={Astro.props.thumbnailUrl} />}
	<h2 class="text-2xl font-bold">{Astro.props.title}</h2>
	<h3 class="text-stone-500">{Astro.props.path}</h3>
</a>
